button {
    margin: 3px;
    color: darkslategray;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    animation-name: animation;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    font-family: 'Mobile Font';
}

button:active {
    background-color: white;
}

label {
    font-size: 40px;
    font-family: 'Mobile Font';
    color: darkslategray;
    text-align: center;
}

@keyframes animation {
    0% {
        background-color: white;
        color: white;
    }
    100% {
        background-color: lightgray;
        color: darkslategray;
    }
}

