button {
    margin: 3px;
    color: darkslategray;
    text-align: center;
    font-size: 90%;
    font-weight: bolder;
    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-family: 'MobileFont';
}

button:active {
    background-color: white;
}

label {
    font-size: 40px;
    font-family: 'MobileFont';
    color: darkslategray;
    text-align: center;
}

@keyframes example {
    from {
        background-color: white;
        color: white;
    }
    to {
        background-color: lightgray;
        color: darkslategray;
    }
}

