<grid-layout rows="45, *, *, *" columns="auto, *, auto, *, auto, *">

    <label row="0" col="0" [colSpan]="6" text="player - {{activePlayer}}"></label>

    <button row="1" col="0" [colSpan]="2" (tap)="toggleTile($event)" score="1"></button>
    <button row="1" col="2" [colSpan]="2" (tap)="toggleTile($event)" score="2"></button>
    <button row="1" col="4" [colSpan]="2" (tap)="toggleTile($event)" score="4"></button>

    <button row="2" col="0" [colSpan]="2" (tap)="toggleTile($event)" score="8"></button>
    <button row="2" col="2" [colSpan]="2" (tap)="toggleTile($event)" score="16"></button>
    <button row="2" col="4" [colSpan]="2" (tap)="toggleTile($event)" score="32"></button>

    <button row="3" col="0" [colSpan]="2" (tap)="toggleTile($event)" score="64"></button>
    <button row="3" col="2" [colSpan]="2" (tap)="toggleTile($event)" score="128"></button>
    <button row="3" col="4" [colSpan]="2" (tap)="toggleTile($event)" score="256"></button>

</grid-layout>
