button {
    color: darkslategray;
    text-align: center;
    background-color: lightgray;
    font-family: 'Mobile Font', 'MobileFont', serif;
    text-transform: uppercase;
}

.trophy {
    font-size: 150px;
    text-align: center;
    color: lightgray;
    font-family: 'FontAwesome', 'fontawesome-webfont';
    padding-top: 100px;
}

.play-again {
    color: darkslategray;
    text-align: center;
    font-size: 20px;
    background-color: lightgray;
    font-family: 'Mobile Font', 'MobileFont', serif;
    height: 40px;
}

.result {
    font-size: 40px;
    color: darkslategray;
    text-align: center;
    font-family: 'Mobile Font', 'MobileFont', serif;
}

.madeby {
    font-size: 10px;
    text-align: center;
}